* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    max-width: 360px;
    padding: 4px;
    margin-top: 50px;
    background: rgb(39, 38, 38);
    border-radius: 20px;
    backdrop-filter: blur(50px);
}

.calculator {
    padding: 10px;
    padding-top: 80px;
    border-radius: 20px;
    overflow: hidden;
    background: rgb(15, 15, 15);
    backdrop-filter: blur(50px);
    border: 10px solid rgba(110, 107, 107, 0.9);
    background-clip: padding-box;
}

/* .calculator::after {
    background: red;
    width: 80px;
    height: 80px;
    display: block;
} */

.resultSection {
    width: 100%;
    font-size: 30px;
    border: 0px solid white;
    background: rgba(199, 243, 199, 0.616);
    /* border: none; */
    outline: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.resultShown {
    width: 100%;
    border: none;
    font-size: 48px;
    text-align: right;
    padding: 0px 8px;
    background: rgba(199, 243, 199, 0.616);
    margin: auto;
    /* overflow: scroll; */
}

.btnSection {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
    margin-top: 14px;
}

.button {
    font-size: 20px;
    font-weight: bold;
    /* background-color: blue; */
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    background: rgb(139, 139, 139, 0.5);
    color: white;
}

.delBtn {
    font-size: 20px;
}

.greenBtn {
    background: rgb(191, 233, 191, 0.8);
    color: black;
}

.equalToBtn {
    grid-column: 4/5;
    grid-row: 4/6;
}
